%% -*- erlang -*-
{erl_opts,
 [
  debug_info,
  warnings_as_errors,
  {parse_transform, lager_transform}
 ]}.
{deps, [
        elli,
        ezk,
        lager,
        recon
       ]}.

{relx, [{release, { zip_example, "0.1.0" },
         [zip_example,
          lager,
          elli,
          ezk
          ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
